
@font-face {
    font-family:prisicilla_2;
    src: url(letra2.ttf);
}
#letra{
    font-family: prisicilla_2;
    font-size: 70px;
}
#btnEnviar{
    align-self: center;
}


@media only screen and (min-width:300px) { 
    body {
    background:rgb(173, 122, 92) !important
  } #card{
    height: auto;
    width: auto;
  }
  }

@media only screen and (min-width: 576px) { 
    body {
    background:rgb(60, 251, 26) !important
  } #card{
    height: auto;
    width: auto;
  }
  }
  
  
  @media only screen and (min-width: 768px) {
     body {
    background:rgb(255, 57, 57) !important
    
  } 
  #conta{
    height: 500px;
    width: 900px;
  }}
  
  
  @media only screen and (min-width: 992px) { 
    body {
    background:rgb(206, 84, 255) !important
  } #card{
    height: auto;
    width: auto;
  }  }
  
  @media only screen and (min-width: 1200px) { 
    body {
    background:rgb(252, 255, 59) !important
  }  
  #card{
    height: auto;
    width: auto;
  }
}
